h1 {
  color: black;
  font-family: Arial;
  font-size: 200%;
  text-align: center; 
}
h2 {
  color: black;
  font-family: Arial;
  font-size: 140%;
  text-align: center;
}
h3 {
  background-color: greenyellow;
  font-family: Impact;
  font-size: 125%;
  text-align:center;
}
h4 {
  font-family: Arial;
  Font-size: 125%;
  text-align: center;
  color: gold
}
body {
  height: 2000px;
  background-image: linear-gradient(white 10%, lightgreen 80%);
}
h5 {
  font-family: arial;
  font-size: 90%;
  text-align: center;
}
button {
  text-align: center;
}
p {
  font-family: arial;
  font-size: 135%;
}
footer {
    font-family: arial;
    font-size: xx-small;
}
